<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4' style="color:#006400">
      <span><strong>to do lists</strong></span>
      <%= link_to 'new project', new_project_path, class:'btn btn-primary',  style:"background-color:#006400" %>
    </h2>

  <% @projects.each do |project| %>
    <%= link_to project, class: 'text-decoration-none' do %>
      <div class="card project-card">
        <div class="card-body">
          <h5 class='card-title' style="color:#006400"><%= project.name.downcase %></h5>
          <p style="color:#730101"><strong><small><%= project.description %> </small></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>